body {
 background-color: #dedede;
 background-image: url("../img/2tone.jpeg");
 background-repeat: repeat-y;
 margin-left: 14px;
 font-family: "Lucida Grande", Verdana, Sans-serif;
 font-size: 11pt;
 color: black;
}

em {
  font-weight: bold;
}

.pagination a {
  text-decoration:none;
}

.pagination a:hover {
  text-decoration:underline;
}

table {
  empty-cells:show;
}

textarea {
  width: 100%;
  resize: none;
}

.xl24
    {font-family:Arial;
    font-size:10.0pt;}
.xl25
    {font-family:Arial;
    text-align:center;}
.xl26
    {font-family:Arial;
    text-align:right;}
.xl27
    {font-family:Arial;
    text-align:right;}
.options {
 font-family:Arial;
 text-align:left;
}

.option_button {
 font-family:Arial;
 text-align:center;
}

#wrapper {
 margin: 0 auto;
 width: 800px;
}

div .data {
    font-family: Arial;
    font-size: 12pt;
}

div .data td  {
    border-right: 6px;
}

div .data table {
    border-width: 0px 0px 0px 0px;
    border-spacing: 0px;
    font-family: Arial;
    border-collapse: collapse;
}


.formblock {
    margin-top: 5px;
    margin-bottom: 5px;
}

.formblock > * {
    vertical-align: middle;
}

.formblock label {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    width: 200px;
    padding-right: 10px;
}

.formblock th {
    text-align: right;
}

.vEntry th {
     text-align: right;
     vertical-align: top;
}

br {
    clear: left;
}

a {
 color: #003399;
 background-color: transparent;
 font-weight: normal;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}

.itemlist td {
    text-align: center;
}

.itemlist td.name {
    width: 400px;
}

.itemlist th.name {
    width: 400px;
}

.itemlist th {
    padding-left: 4px;
    padding-right: 4px;
}

th {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.itemlist table {
    width: 100%;
    border-width: inherit;
    border-spacing: inherit;
    border-collapse: collapse;
}

.arial10
    {font-size:10.0pt;}
.arial8
    {font-size:8.0pt;}

.arial14
    {font-size:14.0pt;}
.arial12
    {font-size:12.0pt;}

ul {
    padding-left: 0px;
}

.error {
    color: red;
}

span.actionbar li {
    list-style-type: none;
    display: inline;
}

.navbar li {
    list-style-type: none;
    display: inline;
}

.navbar {
    text-align: center;
}
