body {
 background-color: #dedede;
 background-image: url("../img/2tone.jpeg");
 background-repeat: repeat-y;
 margin-left: 14px;
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-size: 11pt;
 color: black;
}

a {
 color: #003399;
 background-color: transparent;
 font-weight: normal;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}

table {
	font-family: Arial;
}

.arial10
	{font-size:10.0pt;}
.arial8
	{font-size:8.0pt;}

.arial14
	{font-size:14.0pt;}
.arial12
	{font-size:12.0pt;}	

ul {
	padding-left: 0px;
}

span#actionbar li {
	list-style-type: none;
	display: inline;
}

.data {
	font-family: Arial;
	font-size: 12pt;
}
